header{background-color: rgba(15, 15, 15, 0.895);}

header a {text-decoration: none;
    color: rgb(251, 244, 244);
    padding: 5px 12px;
    font-weight: bold;}

header nav {text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;}


#videoPortada {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      z-index: -1;
      
    }



body{ 
      margin: 0;
      padding: 0;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;

}





h1{font-size: 50px;}




p{font-family: Arial BLACK;}
p{font-size: 18px;}
p{color: rgb(0, 7, 13);}

main {margin: 20;}
